/* icons */
[class^="famflag-"],
[class*=" famflag-"] {
    display: inline-block;
    width: 17px;
    height: 16px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../images/famflag.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
}
[class^="famflag-"]:last-child,
[class*=" famflag-"]:last-child {
    *margin-left: 0;
}

.famflag-ad{ background-position: 0 0; width: 16px; height: 11px; }
.famflag-ae{ background-position: -21px 0; width: 16px; height: 11px; }
.famflag-af{ background-position: -42px 0; width: 16px; height: 11px; }
.famflag-ag{ background-position: -63px 0; width: 16px; height: 11px; }
.famflag-ai{ background-position: -84px 0; width: 16px; height: 11px; }
.famflag-al{ background-position: -105px 0; width: 16px; height: 11px; }
.famflag-am{ background-position: -126px 0; width: 16px; height: 11px; }
.famflag-an{ background-position: -147px 0; width: 16px; height: 11px; }
.famflag-ao{ background-position: -168px 0; width: 16px; height: 11px; }
.famflag-ar{ background-position: -189px 0; width: 16px; height: 11px; }
.famflag-as{ background-position: -210px 0; width: 16px; height: 11px; }
.famflag-at{ background-position: -231px 0; width: 16px; height: 11px; }
.famflag-au{ background-position: -252px 0; width: 16px; height: 11px; }
.famflag-aw{ background-position: -273px 0; width: 16px; height: 11px; }
.famflag-ax{ background-position: -294px 0; width: 16px; height: 11px; }
.famflag-az{ background-position: -315px 0; width: 16px; height: 11px; }
.famflag-ba{ background-position: -336px 0; width: 16px; height: 11px; }
.famflag-bb{ background-position: -357px 0; width: 16px; height: 11px; }
.famflag-bd{ background-position: -378px 0; width: 16px; height: 11px; }
.famflag-be{ background-position: -399px 0; width: 16px; height: 11px; }
.famflag-bf{ background-position: -420px 0; width: 16px; height: 11px; }
.famflag-bg{ background-position: -441px 0; width: 16px; height: 11px; }
.famflag-bh{ background-position: -462px 0; width: 16px; height: 11px; }
.famflag-bi{ background-position: -483px 0; width: 16px; height: 11px; }
.famflag-bj{ background-position: -504px 0; width: 16px; height: 11px; }
.famflag-bm{ background-position: -525px 0; width: 16px; height: 11px; }
.famflag-bn{ background-position: -546px 0; width: 16px; height: 11px; }
.famflag-bo{ background-position: -567px 0; width: 16px; height: 11px; }
.famflag-br{ background-position: -588px 0; width: 16px; height: 11px; }
.famflag-bs{ background-position: -609px 0; width: 16px; height: 11px; }
.famflag-bt{ background-position: -630px 0; width: 16px; height: 11px; }
.famflag-bv{ background-position: -651px 0; width: 16px; height: 11px; }
.famflag-bw{ background-position: -672px 0; width: 16px; height: 11px; }
.famflag-by{ background-position: -693px 0; width: 16px; height: 11px; }
.famflag-bz{ background-position: -714px 0; width: 16px; height: 11px; }
.famflag-ca{ background-position: -735px 0; width: 16px; height: 11px; }
.famflag-catalonia{ background-position: -756px 0; width: 16px; height: 11px; }
.famflag-cc{ background-position: -777px 0; width: 16px; height: 11px; }
.famflag-cd{ background-position: -798px 0; width: 16px; height: 11px; }
.famflag-cf{ background-position: -819px 0; width: 16px; height: 11px; }
.famflag-cg{ background-position: -840px 0; width: 16px; height: 11px; }
.famflag-ch{ background-position: -861px 0; width: 11px; height: 11px; }
.famflag-ci{ background-position: -877px 0; width: 16px; height: 11px; }
.famflag-ck{ background-position: -898px 0; width: 16px; height: 11px; }
.famflag-cl{ background-position: -919px 0; width: 16px; height: 11px; }
.famflag-cm{ background-position: -940px 0; width: 16px; height: 11px; }
.famflag-cn{ background-position: -961px 0; width: 16px; height: 11px; }
.famflag-co{ background-position: -982px 0; width: 16px; height: 11px; }
.famflag-cr{ background-position: -1003px 0; width: 16px; height: 11px; }
.famflag-cs{ background-position: -1024px 0; width: 16px; height: 11px; }
.famflag-cu{ background-position: -1045px 0; width: 16px; height: 11px; }
.famflag-cv{ background-position: -1066px 0; width: 16px; height: 11px; }
.famflag-cx{ background-position: -1087px 0; width: 16px; height: 11px; }
.famflag-cy{ background-position: -1108px 0; width: 16px; height: 11px; }
.famflag-cz{ background-position: -1129px 0; width: 16px; height: 11px; }
.famflag-de{ background-position: -1150px 0; width: 16px; height: 11px; }
.famflag-dj{ background-position: -1171px 0; width: 16px; height: 11px; }
.famflag-dk{ background-position: -1192px 0; width: 16px; height: 11px; }
.famflag-dm{ background-position: -1213px 0; width: 16px; height: 11px; }
.famflag-do{ background-position: -1234px 0; width: 16px; height: 11px; }
.famflag-dz{ background-position: -1255px 0; width: 16px; height: 11px; }
.famflag-ec{ background-position: -1276px 0; width: 16px; height: 11px; }
.famflag-ee{ background-position: -1297px 0; width: 16px; height: 11px; }
.famflag-eg{ background-position: -1318px 0; width: 16px; height: 11px; }
.famflag-eh{ background-position: -1339px 0; width: 16px; height: 11px; }
.famflag-england{ background-position: -1360px 0; width: 16px; height: 11px; }
.famflag-er{ background-position: -1381px 0; width: 16px; height: 11px; }
.famflag-es{ background-position: -1402px 0; width: 16px; height: 11px; }
.famflag-et{ background-position: -1423px 0; width: 16px; height: 11px; }
.famflag-europeanunion{ background-position: -1444px 0; width: 16px; height: 11px; }
.famflag-fam{ background-position: -1465px 0; width: 16px; height: 11px; }
.famflag-fi{ background-position: -1486px 0; width: 16px; height: 11px; }
.famflag-fj{ background-position: -1507px 0; width: 16px; height: 11px; }
.famflag-fk{ background-position: -1528px 0; width: 16px; height: 11px; }
.famflag-fm{ background-position: -1549px 0; width: 16px; height: 11px; }
.famflag-fo{ background-position: -1570px 0; width: 16px; height: 11px; }
.famflag-fr{ background-position: -1591px 0; width: 16px; height: 11px; }
.famflag-ga{ background-position: -1612px 0; width: 16px; height: 11px; }
.famflag-gb{ background-position: -1633px 0; width: 16px; height: 11px; }
.famflag-gd{ background-position: -1654px 0; width: 16px; height: 11px; }
.famflag-ge{ background-position: -1675px 0; width: 16px; height: 11px; }
.famflag-gf{ background-position: -1696px 0; width: 16px; height: 11px; }
.famflag-gh{ background-position: -1717px 0; width: 16px; height: 11px; }
.famflag-gi{ background-position: -1738px 0; width: 16px; height: 11px; }
.famflag-gl{ background-position: -1759px 0; width: 16px; height: 11px; }
.famflag-gm{ background-position: -1780px 0; width: 16px; height: 11px; }
.famflag-gn{ background-position: -1801px 0; width: 16px; height: 11px; }
.famflag-gp{ background-position: -1822px 0; width: 16px; height: 11px; }
.famflag-gq{ background-position: -1843px 0; width: 16px; height: 11px; }
.famflag-gr{ background-position: -1864px 0; width: 16px; height: 11px; }
.famflag-gs{ background-position: -1885px 0; width: 16px; height: 11px; }
.famflag-gt{ background-position: -1906px 0; width: 16px; height: 11px; }
.famflag-gu{ background-position: -1927px 0; width: 16px; height: 11px; }
.famflag-gw{ background-position: -1948px 0; width: 16px; height: 11px; }
.famflag-gy{ background-position: -1969px 0; width: 16px; height: 11px; }
.famflag-hk{ background-position: -1990px 0; width: 16px; height: 11px; }
.famflag-hm{ background-position: 0 -16px; width: 16px; height: 11px; }
.famflag-hn{ background-position: -21px -16px; width: 16px; height: 11px; }
.famflag-hr{ background-position: -42px -16px; width: 16px; height: 11px; }
.famflag-ht{ background-position: -63px -16px; width: 16px; height: 11px; }
.famflag-hu{ background-position: -84px -16px; width: 16px; height: 11px; }
.famflag-id{ background-position: -105px -16px; width: 16px; height: 11px; }
.famflag-ie{ background-position: -126px -16px; width: 16px; height: 11px; }
.famflag-il{ background-position: -147px -16px; width: 16px; height: 11px; }
.famflag-in{ background-position: -168px -16px; width: 16px; height: 11px; }
.famflag-io{ background-position: -189px -16px; width: 16px; height: 11px; }
.famflag-iq{ background-position: -210px -16px; width: 16px; height: 11px; }
.famflag-ir{ background-position: -231px -16px; width: 16px; height: 11px; }
.famflag-is{ background-position: -252px -16px; width: 16px; height: 11px; }
.famflag-it{ background-position: -273px -16px; width: 16px; height: 11px; }
.famflag-jm{ background-position: -294px -16px; width: 16px; height: 11px; }
.famflag-jo{ background-position: -315px -16px; width: 16px; height: 11px; }
.famflag-jp{ background-position: -336px -16px; width: 16px; height: 11px; }
.famflag-ke{ background-position: -357px -16px; width: 16px; height: 11px; }
.famflag-kg{ background-position: -378px -16px; width: 16px; height: 11px; }
.famflag-kh{ background-position: -399px -16px; width: 16px; height: 11px; }
.famflag-ki{ background-position: -420px -16px; width: 16px; height: 11px; }
.famflag-km{ background-position: -441px -16px; width: 16px; height: 11px; }
.famflag-kn{ background-position: -462px -16px; width: 16px; height: 11px; }
.famflag-kp{ background-position: -483px -16px; width: 16px; height: 11px; }
.famflag-kr{ background-position: -504px -16px; width: 16px; height: 11px; }
.famflag-kw{ background-position: -525px -16px; width: 16px; height: 11px; }
.famflag-ky{ background-position: -546px -16px; width: 16px; height: 11px; }
.famflag-kz{ background-position: -567px -16px; width: 16px; height: 11px; }
.famflag-la{ background-position: -588px -16px; width: 16px; height: 11px; }
.famflag-lb{ background-position: -609px -16px; width: 16px; height: 11px; }
.famflag-lc{ background-position: -630px -16px; width: 16px; height: 11px; }
.famflag-li{ background-position: -651px -16px; width: 16px; height: 11px; }
.famflag-lk{ background-position: -672px -16px; width: 16px; height: 11px; }
.famflag-lr{ background-position: -693px -16px; width: 16px; height: 11px; }
.famflag-ls{ background-position: -714px -16px; width: 16px; height: 11px; }
.famflag-lt{ background-position: -735px -16px; width: 16px; height: 11px; }
.famflag-lu{ background-position: -756px -16px; width: 16px; height: 11px; }
.famflag-lv{ background-position: -777px -16px; width: 16px; height: 11px; }
.famflag-ly{ background-position: -798px -16px; width: 16px; height: 11px; }
.famflag-ma{ background-position: -819px -16px; width: 16px; height: 11px; }
.famflag-mc{ background-position: -840px -16px; width: 16px; height: 11px; }
.famflag-md{ background-position: -861px -16px; width: 16px; height: 11px; }
.famflag-me{ background-position: -882px -16px; width: 16px; height: 12px; }
.famflag-mg{ background-position: -903px -16px; width: 16px; height: 11px; }
.famflag-mh{ background-position: -924px -16px; width: 16px; height: 11px; }
.famflag-mk{ background-position: -945px -16px; width: 16px; height: 11px; }
.famflag-ml{ background-position: -966px -16px; width: 16px; height: 11px; }
.famflag-mm{ background-position: -987px -16px; width: 16px; height: 11px; }
.famflag-mn{ background-position: -1008px -16px; width: 16px; height: 11px; }
.famflag-mo{ background-position: -1029px -16px; width: 16px; height: 11px; }
.famflag-mp{ background-position: -1050px -16px; width: 16px; height: 11px; }
.famflag-mq{ background-position: -1071px -16px; width: 16px; height: 11px; }
.famflag-mr{ background-position: -1092px -16px; width: 16px; height: 11px; }
.famflag-ms{ background-position: -1113px -16px; width: 16px; height: 11px; }
.famflag-mt{ background-position: -1134px -16px; width: 16px; height: 11px; }
.famflag-mu{ background-position: -1155px -16px; width: 16px; height: 11px; }
.famflag-mv{ background-position: -1176px -16px; width: 16px; height: 11px; }
.famflag-mw{ background-position: -1197px -16px; width: 16px; height: 11px; }
.famflag-mx{ background-position: -1218px -16px; width: 16px; height: 11px; }
.famflag-my{ background-position: -1239px -16px; width: 16px; height: 11px; }
.famflag-mz{ background-position: -1260px -16px; width: 16px; height: 11px; }
.famflag-na{ background-position: -1281px -16px; width: 16px; height: 11px; }
.famflag-nc{ background-position: -1302px -16px; width: 16px; height: 11px; }
.famflag-ne{ background-position: -1323px -16px; width: 16px; height: 11px; }
.famflag-nf{ background-position: -1344px -16px; width: 16px; height: 11px; }
.famflag-ng{ background-position: -1365px -16px; width: 16px; height: 11px; }
.famflag-ni{ background-position: -1386px -16px; width: 16px; height: 11px; }
.famflag-nl{ background-position: -1407px -16px; width: 16px; height: 11px; }
.famflag-no{ background-position: -1428px -16px; width: 16px; height: 11px; }
.famflag-np{ background-position: -1449px -16px; width: 9px; height: 11px; }
.famflag-nr{ background-position: -1463px -16px; width: 16px; height: 11px; }
.famflag-nu{ background-position: -1484px -16px; width: 16px; height: 11px; }
.famflag-nz{ background-position: -1505px -16px; width: 16px; height: 11px; }
.famflag-om{ background-position: -1526px -16px; width: 16px; height: 11px; }
.famflag-pa{ background-position: -1547px -16px; width: 16px; height: 11px; }
.famflag-pe{ background-position: -1568px -16px; width: 16px; height: 11px; }
.famflag-pf{ background-position: -1589px -16px; width: 16px; height: 11px; }
.famflag-pg{ background-position: -1610px -16px; width: 16px; height: 11px; }
.famflag-ph{ background-position: -1631px -16px; width: 16px; height: 11px; }
.famflag-pk{ background-position: -1652px -16px; width: 16px; height: 11px; }
.famflag-pl{ background-position: -1673px -16px; width: 16px; height: 11px; }
.famflag-pm{ background-position: -1694px -16px; width: 16px; height: 11px; }
.famflag-pn{ background-position: -1715px -16px; width: 16px; height: 11px; }
.famflag-pr{ background-position: -1736px -16px; width: 16px; height: 11px; }
.famflag-ps{ background-position: -1757px -16px; width: 16px; height: 11px; }
.famflag-pt{ background-position: -1778px -16px; width: 16px; height: 11px; }
.famflag-pw{ background-position: -1799px -16px; width: 16px; height: 11px; }
.famflag-py{ background-position: -1820px -16px; width: 16px; height: 11px; }
.famflag-qa{ background-position: -1841px -16px; width: 16px; height: 11px; }
.famflag-re{ background-position: -1862px -16px; width: 16px; height: 11px; }
.famflag-ro{ background-position: -1883px -16px; width: 16px; height: 11px; }
.famflag-rs{ background-position: -1904px -16px; width: 16px; height: 11px; }
.famflag-ru{ background-position: -1925px -16px; width: 16px; height: 11px; }
.famflag-rw{ background-position: -1946px -16px; width: 16px; height: 11px; }
.famflag-sa{ background-position: -1967px -16px; width: 16px; height: 11px; }
.famflag-sb{ background-position: -1988px -16px; width: 16px; height: 11px; }
.famflag-sc{ background-position: 0 -33px; width: 16px; height: 11px; }
.famflag-scotland{ background-position: -21px -33px; width: 16px; height: 11px; }
.famflag-sd{ background-position: -42px -33px; width: 16px; height: 11px; }
.famflag-se{ background-position: -63px -33px; width: 16px; height: 11px; }
.famflag-sg{ background-position: -84px -33px; width: 16px; height: 11px; }
.famflag-sh{ background-position: -105px -33px; width: 16px; height: 11px; }
.famflag-si{ background-position: -126px -33px; width: 16px; height: 11px; }
.famflag-sj{ background-position: -147px -33px; width: 16px; height: 11px; }
.famflag-sk{ background-position: -168px -33px; width: 16px; height: 11px; }
.famflag-sl{ background-position: -189px -33px; width: 16px; height: 11px; }
.famflag-sm{ background-position: -210px -33px; width: 16px; height: 11px; }
.famflag-sn{ background-position: -231px -33px; width: 16px; height: 11px; }
.famflag-so{ background-position: -252px -33px; width: 16px; height: 11px; }
.famflag-sr{ background-position: -273px -33px; width: 16px; height: 11px; }
.famflag-st{ background-position: -294px -33px; width: 16px; height: 11px; }
.famflag-sv{ background-position: -315px -33px; width: 16px; height: 11px; }
.famflag-sy{ background-position: -336px -33px; width: 16px; height: 11px; }
.famflag-sz{ background-position: -357px -33px; width: 16px; height: 11px; }
.famflag-tc{ background-position: -378px -33px; width: 16px; height: 11px; }
.famflag-td{ background-position: -399px -33px; width: 16px; height: 11px; }
.famflag-tf{ background-position: -420px -33px; width: 16px; height: 11px; }
.famflag-tg{ background-position: -441px -33px; width: 16px; height: 11px; }
.famflag-th{ background-position: -462px -33px; width: 16px; height: 11px; }
.famflag-tj{ background-position: -483px -33px; width: 16px; height: 11px; }
.famflag-tk{ background-position: -504px -33px; width: 16px; height: 11px; }
.famflag-tl{ background-position: -525px -33px; width: 16px; height: 11px; }
.famflag-tm{ background-position: -546px -33px; width: 16px; height: 11px; }
.famflag-tn{ background-position: -567px -33px; width: 16px; height: 11px; }
.famflag-to{ background-position: -588px -33px; width: 16px; height: 11px; }
.famflag-tr{ background-position: -609px -33px; width: 16px; height: 11px; }
.famflag-tt{ background-position: -630px -33px; width: 16px; height: 11px; }
.famflag-tv{ background-position: -651px -33px; width: 16px; height: 11px; }
.famflag-tw{ background-position: -672px -33px; width: 16px; height: 11px; }
.famflag-tz{ background-position: -693px -33px; width: 16px; height: 11px; }
.famflag-ua{ background-position: -714px -33px; width: 16px; height: 11px; }
.famflag-ug{ background-position: -735px -33px; width: 16px; height: 11px; }
.famflag-um{ background-position: -756px -33px; width: 16px; height: 11px; }
.famflag-us{ background-position: -777px -33px; width: 16px; height: 11px; }
.famflag-uy{ background-position: -798px -33px; width: 16px; height: 11px; }
.famflag-uz{ background-position: -819px -33px; width: 16px; height: 11px; }
.famflag-va{ background-position: -840px -33px; width: 16px; height: 11px; }
.famflag-vc{ background-position: -861px -33px; width: 16px; height: 11px; }
.famflag-ve{ background-position: -882px -33px; width: 16px; height: 11px; }
.famflag-vg{ background-position: -903px -33px; width: 16px; height: 11px; }
.famflag-vi{ background-position: -924px -33px; width: 16px; height: 11px; }
.famflag-vn{ background-position: -945px -33px; width: 16px; height: 11px; }
.famflag-vu{ background-position: -966px -33px; width: 16px; height: 11px; }
.famflag-wales{ background-position: -987px -33px; width: 16px; height: 11px; }
.famflag-wf{ background-position: -1008px -33px; width: 16px; height: 11px; }
.famflag-ws{ background-position: -1029px -33px; width: 16px; height: 11px; }
.famflag-ye{ background-position: -1050px -33px; width: 16px; height: 11px; }
.famflag-yt{ background-position: -1071px -33px; width: 16px; height: 11px; }
.famflag-za{ background-position: -1092px -33px; width: 16px; height: 11px; }
.famflag-zm{ background-position: -1113px -33px; width: 16px; height: 11px; }
.famflag-zw{ background-position: -1134px -33px; width: 16px; height: 11px; }
