.faq_header {

    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    width: 480px;
    margin-top: 30px;
    margin-bottom: 15px;
}
.faq_header h1 {
    background: none repeat scroll 0 0 transparent !important;
    color: #1799D6 !important;
    font-size: 23px !important;
    font-weight: lighter !important;
    padding: 10px 0 10px 25px !important;

}



#faq_result_search {

    background: none repeat scroll 0 0 #FFFFFF;
}

#faq_result_search h3 {

    background: none repeat scroll 0 0 transparent;
    color: #1799D6 ;
    font-size: 23px ;
    font-weight: lighter;

    display: block;
    padding-left: 20px!important;
    padding-top: 30px!important;

}

#accordion {
    background: none repeat scroll 0 0 #FFFFFF;
    height: auto;
    margin: 0;
    padding: 0 20px 40px;

}
#accordion li h2 {

    border-bottom: 1px solid #BBBBBB;
    color: #9D9D9E;
    cursor: pointer;
    font-family: 'Trebuchet MS' !important;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    margin: 0;
    padding: 18px 60px 15px 0;
    position: relative;
    text-transform: none;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:moz-none;
    -ms-user-select:none;
    user-select:none;
}

#accordion li.active h2 {
    border-bottom: 1px solid #BBBBBB !important;
    color: #00A5DB;
    font-family: 'Trebuchet MS' !important;
    font-size: 13px;
    font-weight: bold;
    text-transform: none;
}
#accordion li.active div.accordion_body {
    border-bottom: 1px solid #bbb;
}

#accordion li h2 .seta {
    position: absolute;
    right: 0;
    top: 12px;
}

#accordion li.active h2 .seta {
    background-position: 0 -32px;
}